<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <%= image_tag(@destination.image_url) %>

  <div class="weather">
    <h4>Forecast for <%= @destination.name %>:</h4>
      <p class="date">Date: <%= @destination.weather.date %></p>
      <% if @destination.weather.date != 'unavailable' %>
        <p class="weather-image"><%= image_tag(@destination.weather.image) %></p>
      <% end %>
      <p class="current">Currrent Temp: <%= @destination.weather.current %></p>
      <p class="high">High: <%= @destination.weather.high %></p>
      <p class="low">Low: <%= @destination.weather.low %></p>
      <p class="summary">Summary: <%= @destination.weather.summary %></p>
  </div>

  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
